
body,
html {
    margin: 0;
    display: flex;
}

.main {
    background-color: #C7EAFF;
    min-width: 416px;
    max-width: 416px;
    height: 896px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.riseup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.learnmore {
    margin-top: 100px;
}

p {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #E79A74;
    width: 256px;
}