body,
html {

    background-color: lightgrey;
    display: flex;
    margin: 0;
    /* justify-content: center; */
    align-items: center;
}

.img {
    display: flex;
    position: relative;
    bottom: 73px;
    left: 47px;
}

#main {

    width: 414px;
    height: 896px;
    display: flex;
    background-color: #C7EAFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


#backarrow {
    position: relative;
    right: 25px;
    top: 35px;
}