body,
html {

    /* background-color: lightgrey; */
    display: flex;
    margin: 0;
    /* justify-content: center; */
    align-items: center;
}

.img {
    display: flex;
    position: relative;
    bottom: 73px;
    left: 47px;
}

#main {

    width: 414px;
    height: 896px;
    display: flex;
    background-color: #C7EAFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


#backarrow {
    position: relative;
    right: 46px;
    top: 57px;

}

.slide {
    position: relative;
    right: 414px;
    width: 414px;
    animation: slide 1.5s forwards;
    animation-delay: 0s;
}

@keyframes slide {
    100% {
        right: 0;
    }
}