body, html {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {

    width: 415px;
    height: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #C7EAFF  url("../imgs/textbubbleicon.svg") no-repeat scroll 0 0;
}
   
img {

    width: 343px;
    height: 343px;
    left: -79px;
    top: -108px;

}

.wrong {

    display: block;
    justify-content: center;
    align-items: center;

}

p {
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #26325B;

    margin: 50px;


}

.answer {
    font-size: 40px;
    color: #E67571;
    width: 375px;
    margin: 30px;
}