html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 414px;
  height: 896px;
  display: flex;
  background-color: #FFC974;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

#heading {
  /* margin-top: 134px; */
}

#white {
  background-color: white;
  width: 380px;
  min-height: 570px;
}

#buttoncontainer {
  margin-top: 34px;
}

#backarrow {
  margin-right: 370px;
  margin-top: 100px;
}

#smile {
  margin-bottom: 300px;
}